__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
db.sqlite3
*.sqlite3
media/
staticfiles/
.env

# If you're using migrations, ignore this specific folder:
*/migrations/__pycache__/

# Environment variables
.env

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.bak

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# PyCharm
*.iml
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries

# Jupyter Notebook
.ipynb_checkpoints

# Other files
*.~*
